//colors
$color-dark: #0d0d0d;
$color-light: rgb(255, 255, 255);
$color-light-dark: #282828;
$color-gray: #6c6c6c;
$border-gray: #CCCCCC;

//fonts
$font-fm-anton: 'Anton', sans-serif;
$font-fm-roboto: 'Roboto', sans-serif;
$font-fm-opensans: 'Open Sans', sans-serif;

//boostrap primary
$bootstrap-primary: #0275d8;

//mdn links darkmode
$mdn-links: #8cb4ff;