.hamburger {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;


    >.hamburger-span {
        position: relative;
        width: 33px;
        height: 3px;
        margin-bottom: 6px;
        background-color: $color-dark;
        display: block;
        transition: all 300ms ease;

        &:nth-child(2) {
            width: 23px;
        }

        &:nth-child(3) {
            width: 13px;
        }

        &.active {
            width: 33px;
        }
    }

    &.active span:nth-child(1) {
        animation: ease .7s top forwards;
    }

    &.not-active span:nth-child(1) {
        animation: ease .7s top-2 forwards;
    }

    &.active span:nth-child(2) {
        animation: ease .7s scaled forwards;
    }

    &.not-active span:nth-child(2) {
        animation: ease .7s scaled-2 forwards;
    }

    &.active span:nth-child(3) {
        animation: ease .7s bottom forwards;
    }

    &.not-active span:nth-child(3) {
        animation: ease .7s bottom-2 forwards;
    }

    //animated hamburger menu to x
    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }

        50% {
            top: 8.5px;
            transform: rotate(0);
        }

        100% {
            top: 8.5px;
            transform: rotate(45deg);
        }
    }

    @keyframes top-2 {
        0% {
            top: 8.5px;
            transform: rotate(45deg);
        }

        50% {
            top: 8.5px;
            transform: rotate(0deg);
        }

        100% {
            top: 0;
            transform: rotate(0deg);
        }
    }

    @keyframes bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }

        50% {
            bottom: 8.5px;
            transform: rotate(0);
        }

        100% {
            bottom: 8.5px;
            transform: rotate(135deg);
        }
    }

    @keyframes bottom-2 {
        0% {
            bottom: 8.5px;
            transform: rotate(135deg);
        }

        50% {
            bottom: 8.5px;
            transform: rotate(0);
        }

        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }

    @keyframes scaled {
        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes scaled-2 {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

}